@font-face {
  font-family: "Quickens";
  src:
    url("./assets/font/Quickens.otf") format("opentype");
}

@font-face {
  font-family: "Rajdhani-Medium";
  src:
    url("./assets/font/Rajdhani-Medium.ttf") format("opentype");
}

@media (max-width: 30em) {
  main {
    font-size: 2.5rem;
  }
}

@media (min-width: 30em) {
  main {
    font-size: 3.3rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url(./assets/img/background.png);
  color: #373f27;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board--container {
  position: relative;
  font-family: Rajdhani-Medium;
  background-color: #cda34f;
  box-shadow: 0px 0px 1px 2px #cda34f;
}

.over,
.paused {
  background-color: rgba(0, 0, 0, 0.66);
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.paused {
  position: absolute;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.66);
  z-index: 98;
}

.paused div {
  color: white;
  cursor: pointer;
  font-size: 6rem;
  margin-top: 30%;
}

.tile {
  background-color: #e9e7da;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #cda34f solid;
  border-radius: 5px;
  cursor: pointer;

  position: absolute;
  transition-property: top, left;
  transition-duration: .06s;
  transition-timing-function: ease-out;
}

.nomove .tile {
  transition: none;
}

.handle {
  margin: 20px auto 5px;
  display: flex;
  justify-content: space-between;
  width: 8.07em;
}

.handle.start {
  justify-content: center;
}

.handle span,
.over--btn {
  text-align: center;
  border-radius: 5px;
  padding: .75rem 0.2rem;
  cursor: pointer;
}

.handle span {
  font-size: 1.6rem;
  width: 6em;
  background-color: #373f27;
  color: white;
}

.handle span:hover {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.over {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.over--content {
  color: white;
  text-align: center;
}

.over--text {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}

.over--btn {
  background-color: #707471;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-size: 1.6rem;
  padding: 0.75em;
}

.menu--title {
  font-size: 3rem;
  font-family: "Quickens";
  margin-right: 0.75rem;
}

.menu--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown {
  justify-self: end;
  background-color: #111;
  z-index: 99;
}

.dropbtn {
  color: white;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.arrow {
  width: 10px;
  height: 10px;
  border: white solid;
  border-width: 1px 1px 0 0;
  transform: rotate(135deg);
  margin-bottom: 2px;
  margin-left: 9px;
}

.dropdown--content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown--item {
  color: black;
  padding: 5px 10px;
  padding-right: 28px;
}

.dropdown:hover .dropdown--content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #333;
}

.dropdown--item:hover {
  background-color: #f1f1f1
}

footer {
  text-align: center;
  height: 60px;
  line-height: 60px;
}

footer a {
  text-decoration: none;
  color: #068d06;
}

footer a:hover {
  color: #0b8221;
  text-decoration: underline;
}